# System Files
.DS_Store

# Dependency directories
node_modules

# Logs
*.log
npm-debug.log*
yarn-error.log

# Test coverage
coverage

# Build artifacts
dist

# This package uses Yarn
package-lock.json
